body {
  background: #024A40;
font-family:Arial;
}

a{
text-decoration: none;
font-weight: bold;
color: rgb(145, 145, 145);
}
.container {
width: 100%;
max-width: 960px;
margin: 0px auto;
}

.app-header {
  margin: 40px auto;
text-align: center;
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
height: 40px;
background: #5E50FA;
  padding: 7px;
}
.app-title {
font-size: 28px;
line-height: 40px;
padding: 0px;
margin: 0px;
color: #fff;
text-shadow: 1px 1px 3px #000000;
filter: dropshadow(color=#000000, offx=1, offy=1);
}
.app-headline {
  margin: 15px auto;
  width: 450px;
  padding: 10px;
  background: #569C7E;
color: white;
font-size: 18px;
}

.app-body {
margin-top: 40px;
}

.done-true {
text-decoration: line-through;
color: grey;
 
}

.archive-control {
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
height: 22px;
line-height: 22px;
padding: 5px 0px 5px 10px;
margin-bottom: 50px;
background: #ecf0f1;
}

ul {
list-style: none;
padding-left: 0;
padding: 10px;
}
ul li {
line-height: 42px;

}

li{
  margin: 10px auto;
  padding: 2px 0px 2px 15px;;
  background: #47d1d1;
  font-size: 19px;
}
.todo-form {
padding: 10px;
text-align: center;
}

input[type="text"] {
  padding: 10px;
  font-size: 21px;
border-bottom: 1px solid rgba(0, 0, 0, 0.3);
border-top: 0px;
border-right: 0px;
border-left: 0px;
height: 30px;
width: 450px;
/* max-width: 400px; */
  background: #ebebe0;
}

input[type="submit"] {
height: 45px;
text-align: center;
margin: 10px;
width: 160px;
  padding: 5px;
  font-size: 19px;
  border: 2px solid #154531;
  background: #04BF71;
  border-radius: 7px;
  
}
.container{
  margin: 20px auto;
  padding: 1px 35px;
  background: #EDBD9A;
  border: 5px solid brown;
}